body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 830px;
    margin: auto;
}

header .logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
}



.section-1 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.cards img {
    width: 300px;
}

.section-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 250px;
    text-align: center;
}

.card {
    text-align: center;
}

.divisor {
    border-color: #000;
}

.section-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.brands {
    display: flex;
    column-gap: 20px;
}

.brand img{
    width: 110px;
}

.lt-text {
    margin-left: 20px;
}

.section-4 {
    margin-top: 20px;
}

.about {
    font-size: 12px;
}

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-form {
    background-color: #F0F0F0;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.win-money {
    display: flex;
    justify-content: center;
    align-items: center;
}
.money {
    text-align: center;
    font-size: 14px;
}

.forms input {
    padding: 8px 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.forms {
    display: flex;
    justify-self: center;
    align-items: center;
    column-gap: 5px;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 7px 30px;
    border: none;
    margin-left: 17px;
    margin-top: 5px;
    cursor: pointer;
}


@media (max-width: 420px) {
    
    .title {
        font-size: 20px;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
    }

    .subtitles {
        margin-left: 10px;
    }

    .brands {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
    }

    .container-about {
        padding-bottom: 10px;
    }

    .about {
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-form {
        margin-bottom: 0;

    }

    .money {
        font-size: 12px;
        margin-left: 5px;
    }

    .forms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .btn-container {
        display: flex;
        margin-top: 5px;
        padding: 5px;
    }

    .inputer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}